.rated-rentals-page .rentals-table {
  margin-top: 0;
}

.rated-rentals-page .rentals-table th:nth-child(2),
.rated-rentals-page .rentals-table td:nth-child(2) {
  width: 9%;
}

.rated-rentals-page .rentals-table th:nth-child(3),
.rated-rentals-page .rentals-table td:nth-child(3) {
  width: 12%;
}
