.rated-rentals-page .rentals-table {
  margin-top: 0;
}

.rated-rentals-page .rentals-table .rated-rating-column {
  width: 9%;
}

.rated-rentals-page .rentals-table .rated-date-column {
  width: 12%;
}
